body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  display: flex;
  flex-wrap: wrap;
  width: 740px;
  height: 740px;
  margin: auto;
}

.square{
  background-color: white;
  border-color: black;
  border: solid;
  box-sizing: border-box;
}

.newgrid{
  margin: 20px;
  padding: 30px 60px;
}