.container{
  display: flex;
  flex-wrap: wrap;
  width: 740px;
  height: 740px;
  align-content: flex-start;
}

.square{
  background-color: white;
  border-color: black;
  border: solid;
  box-sizing: border-box;
}

.newgrid{
  margin-bottom: 20px;
  padding: 30px 60px;
}